<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="defaultIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="defaultPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="fontFamily" serializeAs="String">
                <value>Microsoft YaHei UI</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="isBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isUnderLIne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value />
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>